* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 244, 229);
}

body {
    text-align: center;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

body .text1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: large;
}

body .text2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

body .text2 b {
    text-decoration: none;
    color: black;
}

body .text3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 900;
}

body .img-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

body .img-section img {
    width: 40%;
    min-width: 140px;
    border-radius: 15px;
}

@media all and (max-width: 800px) {
    .img-section {
        display: flex;
        flex-direction: column;
    }
}