* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* HEADER SECTION STARTS */

header {
    background-image: url(banner.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 450px;
    align-items: center;
    justify-content: space-around;
}

b {
    color: #ffffff;
}

h1 {
    color: #ffffff;
    font-size: 3em;
}

button {
    background-color: #ffffff;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}

button a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

/* MAIN SECTION STARTS */