* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-image: url('frenchh.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
}



header nav {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    background-color: #000;
    padding: 20px;
    justify-content: space-around;
}


header nav ul {
    display: flex;
    flex-direction: row;

}

header nav ul li a {
    text-decoration: none;
    list-style-type: none;
    padding: 20px;
    color: white;
}

header nav ul li a:hover {
    color: #bbbbbb;
    cursor: pointer;
}


header .banner {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

header .banner button {
    background-color: #ffffff;
    border-radius: 40px;
    width: 120px;
    height: 55px;
    font-weight: bold;
    border: none;
}

header .banner button:hover {
    background-color: #e7e7e7;
    cursor: pointer;
}


main .hours {
    background-color: rgb(255, 248, 239);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
}



footer .menu {
    background-color: #000;
    padding: 18px;
    display: flex;
    flex-direction: column;
}


footer .menu .text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #ffffff;
}

footer .menu .text button {
    background-color: #fff;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 13px;
    font-weight: bold;
}

footer .menu .text button:hover {
    background-color: #e7e7e7;
    cursor: pointer;
}

footer .menu .card {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer .menu .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}



footer .menu .card .card-img {
    max-width: 200px;
    min-width: 100px;
    border-radius: 10px;
}